%%======================================================================
%%
%% Leo Erasure Code
%%
%% Copyright (c) 2012-2015 Rakuten, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%%======================================================================
{mode, max}.
{duration, 1}.
{concurrent, 1}.

{coding, vandrs}.
{coding_params, {10,4,8}}.
{erasure, 0}.

{driver, basho_bench_driver_leo_jerasure}.
{key_generator, {partitioned_sequential_int, 1000000}}.

{value_generator_source_size, 10485760}.
% For Decode Tests (Fixed Size)
{bin_size, 1048576}.

% For Encode Tests (Generator)
{value_generator, {fixed_bin, 1048576}}.

{code_paths, ['../leo_jerasure']}.
{operations, [{encode, 1}]}.
