%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%%======================================================================
%%
%% Leo Erasure Code
%%
%% Copyright (c) 2012-2015 Rakuten, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%%======================================================================
{require_otp_vsn, "17"}.
{port_sources, ["c_src/*.cpp"]}.
{port_specs, [{"priv/leo_jerasure_drv.so", ["c_src/*.cpp", "deps/gfcomplete/src/.libs/*.o", "deps/jerasure/src/.libs/*.o"]}]}.

{port_env, [{"CXXFLAGS",  "$CXXFLAGS -Wall -I deps/jerasure/include -I deps/gfcomplete/include -DNIF"},

            %% Make sure to link -lstdc++ on Linux, FreeBSD, or Solaris
            {"(linux|freebsd|solaris)", "LDFLAGS", "$LDFLAGS -lstdc++"}]}.

{deps, [
        {jerasure,   ".*", {git, "http://lab.jerasure.org/jerasure/jerasure.git",    {branch, "HEAD"}}, [raw]},
        {gfcomplete, ".*", {git, "http://lab.jerasure.org/jerasure/gf-complete.git", {branch, "HEAD"}}, [raw]}
       ]}.

{pre_hooks, [{compile, "c_src/build_deps.sh"}]}.
