{port_sources, ["c_src/*.cpp"]}.

{port_env, [{"CXXFLAGS",  "$CXXFLAGS -Wall -I deps/jerasure/include -I deps/gfcomplete/include"},
            {"DRV_LDFLAGS", "$DRV_LDFLAGS -L deps/jerasure/src/.libs -L deps/gfcomplete/src/.libs/ -lJerasure -lgf_complete"},

            %% Make sure to link -lstdc++ on Linux, FreeBSD, or Solaris
            {"(linux|freebsd|solaris)", "LDFLAGS", "$LDFLAGS -lstdc++"}]}.

{deps, [
        {jerasure, ".*", {git, "http://lab.jerasure.org/jerasure/jerasure.git", {branch, "HEAD"}}, [raw]},
        {gfcomplete, ".*", {git, "http://lab.jerasure.org/jerasure/gf-complete.git", {branch, "HEAD"}}, [raw]}
        ]}.
